<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <title>AWeSomeBioPho</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Prata" rel="stylesheet">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
</head>

<body>
    <header id="header">
        <nav class="navbar navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="/"><span style='color: orange; font-weight:bold'>AW</span><span style='color: black; '>e</span><span style='color: orange; font-weight:bold'>S</span><span style='color: black; '>omeBioPho</span></a>
                </div>
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a class="authorPage" href="/home" id="upload">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="container " class="container" style="text-align:center; width: 50%;">
        <div id="uploader">
            <h1>Settings</h1>
            <br />
            As Admin, you are able to access the underlying S3 bucket resource containing the uploaded images.
            <br /> <br /> You may change and update the S3 bucket name below:
        </div>
<style>
    td {
        text-align: justify !important;
    }
    .form-label{
        padding-right: 20px;
    }
    tr {
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
</style>
        <div>
            <div id="form-container uploader">
                <form id="image-form" method="post" enctype="multipart/form-data" action="/settings-updated"
                    class="form text-justify"><br />
                    <div class="form-group">
                        <label for="s3bucket">S3 Bucket Name</label>
                        <input class="form-control" type="string" name="bucketname" size="50" id="s3bucket"
                            value=<%= s3bucketname %>>
                    </div>
                    <div class="form-group">
                        <label for="region">Region</label>
                        <input class="form-control" type="string" name="region" size="50" id="s3region"
                            value=<%= s3region %>>
                    </div>
                    <br />
                    <div class="form-group text-center">
                        <input class="btn btn-lg btn-warning" type="submit" value="UPDATE" name="update">
                    </div>
                </form>
            </div>
        </div>

</body>

</html>